name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      - name: Go fmt
        run: |
          diff=$(gofmt -l ./)
          if [ -n "$diff" ]; then
            echo "gofmt found issues:" && echo "$diff" && exit 1
          fi
      - name: Go test
        run: go test ./...
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.61.0
          args: --out-format=colored-line-number
